APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=driveiq
DB_USERNAME=driveiq
DB_PASSWORD=driveiq

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
SANCTUM_STATEFUL_DOMAINS=localhost:5173
